<div id="<%= dom_id flight %>">
  <p>
    <strong>Depart:</strong>
    <%= flight.depart_id %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= flight.date %>
  </p>

  <p>
    <strong>Flight duration:</strong>
    <%= flight.flight_duration %>
  </p>

</div>
